

html {
  overflow-x: hidden;
}
body {
  width: 100%;
  /*height: 100%;/*これを消すとスクロールバーが出てくる*/
  margin: 0;
  padding: 0;
  /*font-family: "Times","Times New Roman","游ゴシック","游ゴシック体","Yu Gothic","YuGothic",serif;*/
  font-family: 'YakuHanJPs', 'Noto Sans JP', sans-serif;
}
body.menu-open, html:has(body.menu-open) {
  overflow: hidden;
}

/* 左側のメイン窓 */
.main-window {
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: transparent;
}





/* 右側のサイドバー */
/* 3/24を受けて、サイドバーについて、メニューを開いていない時はサイドバーのエリア越しに背後をスクロールできるようにする */
.side-bar {
  width: 40px;
  height: 100dvh;  /* safariでは下にあるUIで文字が隠れたりするので、動的ビューポートの高さ(dynamic viewport height)を指定 */
  right: 0;
  top: 0;
  background-color: transparent;
  box-shadow: none;
  /*flex-shrink: 0;        /* 画面が狭くなってもバーが潰れないようにする */

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 700;

  pointer-events: none; /* サイドバーの初期状態を、指が通り抜ける設定にするため、autoではなくnoneへ */
  touch-action: none; /* このエリアでのスクロールをブラウザに無視させる */

  box-sizing: border-box; /* paddingを幅に含める */
  /*transition: width 0.4s ease;*/
}
.side-bar.is-open {
  width: 100vw;
  background-color: #fff;
  box-shadow: inset 0 0 0 1.2px #7bbbef;
  /*padding-right: 40px; /* 右側のバーの幅分、内側に押し戻す */
  pointer-events: auto; /* 開いているときは操作可能にするため追加 */
  overflow-y: auto;
  font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
}
.side-bar.is-open .fixed-labels {
  background-color: transparent;
  box-shadow: none;
}

/* 縦書きテキスト */
.vertical-text {
  writing-mode: vertical-rl;
  color: #7bbbef;
  font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
  white-space: nowrap;   /* 改行を防ぐ */

  /* spanを「箱」として認識させ、中の文字を中央へ */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  line-height: 1.2em;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 1em;
  margin: 0 0;
  text-decoration: none;

  /* 閉じていても、文字やアイコンは触れるようにする */
  pointer-events: auto;
  touch-action: auto;
  cursor: pointer;
}
.fixed-labels{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  z-index: 20;

  display: flex;
  flex-direction: column; /*中身を縦に並べる*/
  justify-content: space-between; /*最初と最後を端っこに配置し、残りをその中央に配置=上中下に均等にばらけさせる*/
  align-items: center; /*横方向(幅の中央)に揃える*/
  box-sizing: border-box;
  pointer-events: none;
  padding: 10px 0 calc(15px + env(safe-area-inset-bottom)) 0;

  box-shadow: inset 0 0 0 1.2px #7bbbef;  /* イラレの「線の位置：内側」と同じ挙動。4つ目の数値は線の広がりを指定 */
  background-color: #fff; /* 閉じている時の白い帯 */
}
/* メニュー画面の時のみ、サイドバー横幅分を引くのではなく画面全体を用いて文字情報を配置 */
/* flexboxは、どれかを基準にして他を順番に選ぶというときに使いやすい 
menu-contentが上端からどのくらいとか、SNSリンクとタイトルの間の距離はこのくらいとか指定してないのに空いているとき、flexboxの自動計算で決まっている。
align-itemsは左右、justfy-contentが上下*/
.menu-content {
  width: 100vw; /*画面全体を使用に変更*/ /*calc(100% - 40px); /* 右側の40px（バーの文字分）を除いたエリアで中央に */
  height: 100dvh;
  padding-top: 22dvh; /* 画面の一番上からどのくらい下げるか */
  
  display: none;
  flex-direction: column;
  align-items: center;    /* 横軸では中央揃え */
  justify-content: flex-start; /* 縦軸では中央揃えにしない */
  
  pointer-events: auto;
  /*font-family: "Times","Times New Roman","游ゴシック","游ゴシック体","Yu Gothic","YuGothic",serif;*/
  font-family: 'YakuHanJPs', 'Noto Sans JP', sans-serif;  box-sizing: border-box;
  position: relative;
}
/* 開いた時だけ中身を出す */
.side-bar.is-open .menu-content {
  display: flex;
  flex-direction: column;
}
#menu-icon-toggle{
  color: #888;
  font-size: 25px;
  z-index: 900;
  position: relative;

  /* 閉じていても、文字やアイコンは触れるようにする */
  pointer-events: auto;
  cursor: pointer;
  touch-action: auto;

  display: flex;           /* 中の ≡ や × を中央に寄せる */
  align-items: center;     /* 垂直方向中央 */
  justify-content: center; /* 水平方向中央 */

  width: 40px;             /* バーの幅に合わせる */
  height: 40px;            /* ≡,×ともに40pxの中に収める */
  
  font-size: 25px;         /* 記号の大きさ */
  line-height: 1;          /* 行間の影響を排除 */
}


/* 下2つはサイドバー内の統合卒展26というトップへのリンクに関するもの */
.link-to-top {
  text-decoration: none;
  color: #add8e6; /* 他の文字と色を合わせる */
  display: block;
  width: 100%;
  height: 100%;
}
.link-to-top:hover {
  opacity: 0.7;
}

/* サイドバー下の卒展26のリンク当たり判定を広げる */
.link-to-Top{
  position: relative;
}
.link-to-Top::after{
  content: "";
  position:absolute;

  /* 文字を中心に、上下左右に判定をどれくらい広げるか(透明なクッションをつける) */
  top: -15px;    /* 上に20px広げる */
  bottom: -15px; /* 下に15px広げる */
  left: -10px;   /* 左に10px広げる（バーの外側へ） */
  right: -10px;  /* 右に10px広げる（バーの内側へ） */
  
  /* このクッションも「リンクの一部」として指に反応させる */
  pointer-events: auto;
  cursor: pointer;
  /*background-color: rgba(255, 0, 0, 0.3); z-index: -1; /* どこまでが当たり判定になっているか色付けて見れる */
}



.menu-links {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 塊の中では左揃え */
  width: fit-content;      /* 中身の幅に合わせる */
  line-height: 40px;
  font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
  white-space: nowrap;
}
.menu-links a {
  text-decoration: none;
  color: #4a4a4a;
  text-align: left;
  transition: color 0.3s ease;
}

.sns-links {
  display: flex;
  font-family: "Times","Times New Roman";
  margin-top: 30px;
  gap: 30px;
  color: #4a4a4a;
}
.menu-links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* ブロックの中のみ左揃え */
  width: fit-content;      /* 中身の幅に合わせる */
  margin: 0 auto 0 auto;  /* rightとleftでは左右中央に配置。bottomをタイトルとの距離を指定 */
}


.exhibition-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  margin-top: auto;
  margin-bottom: 12dvh;
  white-space: nowrap;
  color: #4a4a4a; /* color: #4b4b4b;#0787ff; */
  font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
}
.title-jp{
  text-align: left;       /* ブロック内は左揃え */
  margin-right: 30px;     /* 和英タイトルの間の距離 */
}
.title-en {
  text-align: left;
}

.gimmick-info {
  position: relative;
  margin-bottom: max(7dvh, env(safe-area-inset-bottom));

  text-align: center;
  font-size: 12px;
  color: #888;
  width: 100%;
  white-space: nowrap;
  font-family: "游明朝体","游明朝","Yu Mincho","YuMincho",serif;
  pointer-events: none;
}


/* iPhoneのタップハイライトを消す */
* {
  -webkit-tap-highlight-color: transparent;
}





/* 各ブロック（タグ・題字・作品）を包む袋 */
.content-wrapper {
  display: flex;
  flex-direction: column; /* 中身を縦に並べる */
  align-items: stretch;
  width: 100%;
  padding-right: 40px; /* サイドバー分の余白をとり、作品表示部分がバーの下に行かないようにする */
  box-sizing: border-box; /* パディングを幅に含める */
  position: relative;
}







/* 作品一覧　トップの一覧と個別ページのレコメンドで共通使用 */
.work-grid {
  display: grid;
  gap: 30px;
  /*font-family: "Times","Times New Roman","游ゴシック","游ゴシック体","Yu Gothic","YuGothic",serif;*/
  font-family: 'YakuHanJPs', 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
}

/* 作品一覧用 */
/* 作品ひとつひとつの塊 */
.work-item {
  width: 100%;
  margin-bottom: 20px; /* 作品同士の縦の間隔 */
}

/* サムネイル画像 */
.work-thumbnail img {
  width: 100%;
  /*height: auto;*/ /* サムネイルを正方形化試作 */
  display: block;
  filter: none;

  filter: grayscale(0%);     /* 彩度100%（カラー） */
  transition: filter 0.4s ease;

  /* サムネイルを正方形化試作 */
  height: 100%;
  object-fit: cover; /* 正方形に収まるようにトリミング */
  object-position: center; /* 中央を基準にトリミング */
}

/* 作品名と作者名のエリア */
.work-info {
  margin: 12px 4px 0 4px; /* topは作品名と画像の間の距離。rightとleftは左右の余白 */
  display: flex;
  column-gap: 20px; /* 横並び時の作品名と作者名の間の隙間 */
  row-gap: 8px;
  font-size: 14px;
  color: #4a4a4a;
  padding: 0 5px; /* 少しだけ内側に寄せる */
  /*font-family: "Times","Times New Roman","游ゴシック","游ゴシック体","Yu Gothic","YuGothic",serif;*/
  font-family: 'YakuHanJPs', 'Noto Sans JP', sans-serif;
  flex-wrap: wrap;
  line-height: 1.5;
  transition: color 0.3s ease;
}

/* 画像が読み込まれるまでの背景（オプション） */
.work-thumbnail {
  /*background-color: #f9f9f9;*/

  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  display: block;

  /* サムネイルを正方形化試作 */
  aspect-ratio: 1 / 1; /* 正方形に固定 */
}


/* リンクの初期デザインを打ち消す */
.work-item-link {
  text-decoration: none; /* 下線を消す */
  color: inherit;        /* 文字色を親要素(黒)から引き継ぐ */
  display: block;        /* ブロック全体をクリック可能にする */
  width: 100%;
}



.work-thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00aeef; /* 色指定*/
  opacity: 0;             /* 初期状態は透明 */
  mix-blend-mode: screen; /* 画像と色を「スクリーン」でブレンド（白い部分が青く光る） */
  transition: opacity 0.3s ease; /* 青くなるのをスムーズにする */
  pointer-events: none;    /* クリックを画像本体に伝える */
}




/* ホバー演出がタッチする機材で残ったりしないように調整 */
/* PC用 */
@media (hover: hover) {
/* 4. リンク（親）にホバーした時、中のオーバーレイ（子）を表示する */
.work-item-link:hover .work-thumbnail::after {
  opacity: 1; /* ホバー時は青い層を重ねる */
}
.work-item-link:hover .work-info{
  color: magenta;
  transition: 0.3s ease;
}
.work-item-link:hover .work-thumbnail img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}


.menu-links a:hover{
  color: magenta;
  text-decoration: underline;
  transition: 0.3s;
}
}
/* スマホ用 */
@media (hover: none) {
/* iPhoneでタップした時に少し反応させる（任意） */
/*.work-item-link:active {  opacity: 0.7;}*/

/* スマホなどタップ操作系での反応の試作(ホバーなどとケンカするなら消す。代わりに上のactiveを復活) */
.work-item-link:active .work-thumbnail::after{
  opacity: 0.5;
  transition: 0s;
}
.work-thumbnail::after{
  transition: opacity 1.5s ease;
}
.work-item-link:active .work-thumbnail img {
  filter: grayscale(100%);
  transition: filter 0s;
}
.menu-links a{
  transition: color 1.2s ease;
}
.work-item-link:active .work-info{
  color: magenta;
  transition: color 0s;
}

.menu-links a:active{
  color: magenta;
  text-decoration: underline;
  transition: 0s;
}
}




footer{
  padding: 0 30px 25px 30px;  
  font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
  color: #4a4a4a;
}
.footer-text{
  display: flex;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 30px;
}
.footer-logos{
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 15px;
}
.footer-logo{
  height: auto;
  max-height: 32px;
  width: auto;
}
#copyright{
  font-size: 12px;
  line-height: 1.4;
  padding-left: 0px;
}




/*レスポンシブ*/

@media (min-width:600px)  {
  footer {
    padding: 0 10px 50px 10px;
  }
}



@media (min-width: 820px) {
  .menu-links {
    font-size: 20px;
    margin-bottom: 60px;     /* 下の展示和英タイトルとの余白 */
    line-height: 60px;
  }
  .sns-links {
    font-size: 20px;
    margin-top: 40px;
  }
  .exhibition-title, .gimmick-info {
    font-size: 16px;
  }
  .title-jp{
      margin-right: 40px;     /* 和英タイトルの間の距離 */
  }
  
}




/*レスポンシブ*/

/* 試しに広い画面の時のみサイドバーの当たり判定をバー全体にする(バー上ではスクロールできなくなる) */
@media (min-width: 600px) {
  .fixed-labels {
    pointer-events: auto; /* 帯全体でクリックに反応するようにする */
    cursor: pointer;      /* どこを触っても指マークが出るようにする */
  }
}


