




.filter-tags {
  font-family: "游ゴシック","游ゴシック体","Yu Gothic","YuGothic",sans-serif;
  font-size: 12px;
  color: #888;
  display: flex;
  flex-wrap: wrap;       /* 画面端で自動で次の行へ */
  line-height: 2;      /* 行間を少し空けてタップしやすく */
}

.filter-tags span {
  cursor: pointer;
  /* padding: 0 5px; ← JSのスペースだけでなくCSSでも微調整可能 */
  transition: color 0.3s ease;
  white-space: nowrap;
}
.filter-tags span.active {
  color: magenta;
}

.filter-tags-wrapper{
  margin-top: 10px;
  margin-left: 10px;
}



/* ホバー演出がタッチする機材で残ったりしないように調整 */
/* PC用 */
@media (hover: hover) {
.filter-tags span:hover{
  color: magenta;
  transition: 0.3s ease;
}
.filter-tags span.active:hover{
  color: magenta;
  opacity: 0.3;
  transition: 0.3s ease;
}
}
/* スマホ用 */
@media (hover: none) {
.filter-tags span.active {
  color: magenta;
}
}




.web-title{
    margin: 120px 20px 0px 15px;
}
.web-title .title{
    font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
    font-size: 19px;
    color: #4a4a4a;
}
.web-title .professor-name{
    font-family: "Times","Times New Roman","游明朝体","游明朝","Yu Mincho","YuMincho",serif;
    font-size: 15px;
    color: #4a4a4a;
    margin-top: 7px;

}
.web-title .titletext{
    font-family: "游ゴシック","游ゴシック体","Yu Gothic","YuGothic",sans-serif;
    font-size: 12px;
    color: #4a4a4a;
    margin: 20px 0 60px 0;
    max-width: 350px;     /* 箱組みのために横幅制限 */
    line-height: 1.8;
    text-align: justify;
    white-space: pre-wrap;
}
.web-title a.title {
    color: #4a4a4a;
    text-decoration: none;
}


.work-grid.for-index{
  grid-template-columns: 1fr;
}






/* レスポンシブ */


@media (max-width:599px) {
      .filter-tags-wrapper {
        display: flex;
        flex-wrap: wrap;
      }
    #project-tags, #material-tags {
        display: contents; /* divの枠を消して中身だけ出す */
      }      
}



/* 600px〜819px: 1列・左右に余白 */
@media (min-width: 600px) {
  .content-wrapper {
    padding-left: 7%;
    padding-right: calc(40px + 7%);
  }
  #project-tags, #material-tags {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-tags{
    margin-left: 5px;
  }
  .web-title{
    margin-left: 5px;
  }
  .work-info{
    padding: 0;
    margin-left: 4px;
  }
  .web-title .titletext{
    font-size: 14px;
    max-width: 400px;     /* 箱組みのために横幅制限 */
  }

}

/* 820px〜1179px: 2列 */
@media (min-width: 820px) {
  .work-grid.for-index {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .content-wrapper {
    padding-left: 5%;
    padding-right: calc(40px + 5%);
  }

  .filter-tags{
    font-size: 15px;
  }
  .web-title .title{
    font-size: 30px;
  }
  .web-title .professor-name{
    font-size: 20px;
  }
  .web-title .titletext{
    max-width: 480px;     /* 箱組みのために横幅制限 */
  }
}

/* 1180px〜: 3列・最大幅制限 */
@media (min-width: 1180px) {
  .work-grid.for-index {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .content-wrapper {
    max-width: 1500px; /* 最大幅 */
    width: 100%;
    padding-right: calc(40px + 5%); /* サイドバーの幅40px+余白 */
    padding-left: 5%;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

